.user-online-photo{
    width: 50px;
    border-radius: 50%;
    margin: 2px 0;
}
.online-user-name{
    margin-left: 8px;
    max-height: 100%;
    font-size: 1em;
}
.online-users-title{
    font-size: 1.4em;
    vertical-align: middle;
    background-color: #141C26;
    padding: 5px;
    color: rgb(255,255,255);
}
.offline-users-title{
    font-size: 1em;
    vertical-align: middle;
    background-color: rgba(20, 28, 38, 0.8);
    padding: 3px;
    color: rgb(255,255,255);
}
.item-users-list *{
    cursor: pointer;
}