.title-chats-view{
    height: 2em;
    width: 100%;
    text-align: center;
    background-color:#141C26;;
    color: white;
}
.item-chat-list *{
    cursor: pointer;
}
.chat-user-photo{
    width: 50px;
    border-radius: 50%;
    margin: 2px 0;
}
.item-chat-body{
    width: 50%;
    max-width: 50%;
}
.item-chat-user-name{
    font-size: medium;
}
.item-chat-last-message{
    font-size: small;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.not-open{
    background-color: rgba(0, 217, 255, 0.308);
}

.chats-view{
    overflow: auto;
    height: 100%;
    /* width: calc(var(--size-chat) - 10px); */
    padding-left: 10px;
}